/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.text-light-gray {
    color: #727272;
    font-size: 0.9rem;
    line-height: 26px;
  }
/* header styles */

header {
  background: #ff900e1a;
  padding: 40px 220px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin-right: 30px;
  font-size: 1.2rem;
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 0.9rem;
  line-height: 26px;
}
.banner img {
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 220px;
}
/* teams area styles */
.teams-area {
  margin: 50px 0;
}
.teams-content {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
.teams-img img {
  border-radius: 10px;
}
.teams-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #727272;
}
.teams-title .of-our {
  color: #131313;
  font-weight: 700;
}
.teams-title .featur {
  color: #ff900e;
  font-weight: 700;
}

/* mobile\small  responsive @media query */
@media screen and (max-width: 576px) {
  header,
  main {
    padding: 20px;
  }
  nav,
  .teams-content 
  {
    flex-direction: column;
  }
  .teams-img{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .teams-text{
    text-align: center;
  }
}

/* tablet\medium responsive @media query */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header,
  main
  {
    padding: 40px;
  }
  nav,
  .teams-content 
  {
    flex-direction: column;
  }
  .teams-text{
    text-align: center;
  }
}
